/* RESOURCES */
@import url(http://fonts.googleapis.com/css?family=Special+Elite);

html { 
  background: url(../images/5950139405_80b033b4e9_o.jpg) no-repeat center center fixed; /* Photo by  Victor Bezrukov: https://www.flickr.com/photos/s-t-r-a-n-g-e/8099193955/*/
  background-color: #2E3A4A;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* CSS RESET */
html, body, form, fieldset, legend { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }
ul, ol, li { margin: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th, td { text-align: left; vertical-align: top; font-weight: normal; }
input, textarea, select { font-size: 110%; line-height: 1.1; }
abbr, acronym { border-bottom: .1em dotted; cursor: help; }


/* LAYOUT */
body {
  max-width: 25%;
  margin-left: 45%;
}
@media screen and (min-width: 0px) and (max-width: 900px) { /*medium and small devices */
  body {
    margin: 0 auto;
  }
  #main-header {
    position: static;
  }
  #main-header-nav {
    position: static;
    margin-top: 10px;
  }
}


/* TYPOGRAPHY */
body {
  font-family: 'Special Elite', serif;
}
main p {
  font-family: "Special Elite", serif;
}
code {
  font-family: Courier New, Verdana, Arial, Comic Sans MS;
  font-size: 9pt;
}
.list-no-bullets {
  list-style-type: none;
  padding: 0.4em;
  line-height: 2em;
}
.img-fullwidth {
  width: 100%;
}
#main-header {
  padding: 1%;
  text-align: right;
}
main {
  padding: 5%;
}
footer {
  padding-right: 3%;
  text-align: right;
}
p {
  margin-bottom: 1em;
  font-size: 10pt;
  line-height: 1.2em;
}
ul, ol {
  margin-bottom: 1em;
  font-size: 10pt;
}
h1 {
  font-size: 1em;
  line-height: 1em;
}
h2 {
  font-size: 2em;
  line-height: 1em;
}


/* COLOR */
body {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  box-shadow: 0 0 4px 4px rgb(0,0,0);
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.4);
}
a {
  color: #f99;
}
a:visited {
  color: #999;
}
code {
  color: #afafff;
}
main {
  color: white;
}
footer {
  color: white;
}


@media screen and (min-width: 0px) and (max-width: 900px) { /*medium and small devices */
  #main-header {
    background-color: #151515;
  }
}