/* RESOURCES */
@import url(http://fonts.googleapis.com/css?family=Shadows+Into+Light);


/* CSS RESET */
html, body, form, fieldset, legend { margin: 0; padding: 0; }
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; }
ul, ol, li { margin: 0; }
fieldset,img { border: 0; }
legend { color: #000; }
sup { vertical-align: text-top; }
sub { vertical-align: text-bottom; }
table { border-collapse: collapse; border-spacing: 0;}
caption, th, td { text-align: left; vertical-align: top; font-weight: normal; }
input, textarea, select { font-size: 110%; line-height: 1.1; }
abbr, acronym { border-bottom: .1em dotted; cursor: help; }


/* LAYOUT */
html { 
  background: url(../images/8099193955_5fe1914305_o.jpg) no-repeat center center fixed; /* Photo by  Victor Bezrukov: https://www.flickr.com/photos/s-t-r-a-n-g-e/8099193955/*/
  background-color: #2E3A4A;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  max-width: 39%;
  min-width: 450px;
  margin-left: 7%;
}
#main-header {
  position: fixed;
  top: 30px;
  right: 0%;
  z-index: 10;
}
#main-header-nav {
  position: relative;
  top: -105px;
}
#main-header-nav li {
  display: inline;
}
#main-nav {
  display: none;
}
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}
@media screen and (min-width: 0px) and (max-width: 900px) { /*medium and small devices */
  body {
    margin: 0 auto;
  }
  #main-header {
    position: static;
  }
  #main-header-nav {
    position: static;
    margin-top: 10px;
  }
}


/* TYPOGRAPHY */
body {
  font-family: 'Shadows Into Light', cursive;
}
#main-header-nav {
  font-size: 0.7em;
  font-family: "Century Gothic", "Verdana", sans-serif;
}
main p {
  font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
}
#main-header-nav a, #main-header-nav-selected {
  padding: 0.4em;
  margin: 0.3em;
}
#main-header-nav a:hover, #main-header-nav a:visited, #main-header-nav a:link, #main-header-nav a:active{
    text-decoration: none;
}
code {
  font-size: 1.2em;
  font-weight: bold;
}
.list-no-bullets {
  list-style-type: none;
  padding: 0.4em;
  line-height: 2em;
}
.img-fullwidth {
  width: 100%;
}
#main-header {
  padding: 1%;
  text-align: right;
}
main {
  padding: 5%;
}
footer {
  padding-right: 3%;
  text-align: right;
}
p, ul, ol {
  margin-bottom: 1em;
}
main header {
  padding-bottom: 1em;
}
h1 {
  font-size: 3em;
  line-height: 1em;
}
h2 {
  font-size: 4em;
  line-height: 1em;
}


/* COLOR */
body {
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.7);
  box-shadow: 0 0 4px 4px rgb(0,0,0);
  box-shadow: 0 0 4px 4px rgba(0,0,0,0.7);
}
#main-header {
  color: white;
  background-color: rgba(0,0,0,0.0);
}
#main-header-nav a {
  color: #888;
  background-color: black;
}
#main-header-nav a:hover, #main-header-nav a.current {
  background-color: #333;
  color: white;
}
#main-header-nav-selected {
  background-color: black;
}
a:visited {
  color: #77f;
}
code {
  color: #008099;
}
main {
  color: white;
}
footer {
  color: white;
}

