body {
  width: 960px;
  margin: 0 auto;
  font-family: Garamond, times, serif;
  line-height: 1.4em;
}
h1, h2, h3, h4, aside a, nav a {
  font-family: Century Gothic, sans-serif;
}
h1 {
  font-size: 5em;
  line-height: 0.9em;
  margin: 2px 0 5px 0;
}
h3 {
  line-height: 0.9em;
  padding-left: 5px;
  margin: 20px 0 10px 0;
}
h2, h4 {
  line-height: 0.4em;
  margin: 40px 0 0px 0;
}
nav a, aside a {
  font-size: 0.9em;
}
#feature, footer, aside {
  background-color: #efefef;
  margin: 10px;
  padding: 5px 10px 20px 10px;
}
nav {
  background-color: #ddddff;
  margin: 0px;
  padding: 1px;
}
header {
  margin: 10px;
}
#four-principles {
  padding-left: 20px;
}
#content {
  float: left;
  width: 740px;
  overflow: auto;
  height: 100%;
}
aside {
  float: right;
  width: 180px;
}
footer {
  clear: both;
  background-color: #ddddff;
  padding-left: 10px;
}
nav li {
  display: inline;
  padding-right: 50px;
}
a {
  color: #777777;
}
a:hover, a.current {
  color: #000000;
}
nav a:hover, nav a:visited, nav a:link, nav a:active{
    text-decoration: none;
}
.img-insert {
  overflow: hidden;
  width: 100%;
}
.img-insert img {
  float: left;
  box-shadow: 5px 5px 5px #777777;
  margin: 5px;
  margin-left: 20px;
}
.img-proximity {
  width: 286px;
  height: 376px;
  border: 1px solid #bbbbbb;
}
.img-alignment {
  width: 300px;
  height: 150px;
  border: 1px solid #bbbbbb;
}
.img-repetition {
  border: 1px solid #bbbbbb;
}
#checklist {
  background-color: #444444;
  color: #efefef;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 40px;
  margin-right: 20px;
}
#checklist h3 {
  line-height: 0.0em;
  margin: 40px 0 0px 0;
}
#sidebar-bullets {
  font-size: 0.8em;
  margin: 0px 0 10px 0;
}
.img-left-align {
  overflow: hidden;
  width: 100%;
}
.img-left-align img {
  float: left;
  width: 150px;
  margin-left: 50px;
  margin-right: 20px;
  margin-bottom: 5px;
  box-shadow: 3px 3px 3px #777777;
}
#sidebar-images img {
  width:100px;
  margin: 10px;
  margin-left: 30px;
  box-shadow: 3px 3px 3px #777777;
}
.img-with-caption {
  position: relative;
}
.img-with-caption p {
  position: absolute;
  top: 300px;
  left: 400px;
  color: white;
  background: rgb(0,0,0);
  background: rgba(0,0,0,0.4);
  padding: 5px;
  text-align: right;
}
.img-fullwidth {
  width: 690px;
  box-shadow: 3px 3px 3px #777777;
}